.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
    }
  }

  .group-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .button-update {
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .button-cancel {
      margin-top: 1rem;
    }
  }
}
